
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


h2 {
    color: #007BFF;
}

.content {
    margin-top: 20px;
}

#baslik {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}


#gunluk_detay {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#icerik {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: justify;
}

#kullanici, #olusturma_tarihi {
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}



.date {
    font-style: italic;
    color: #888;
}
